* {
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
  padding: 0px;
  margin: 0px;
}

body {
	background-color: white;
}

.center {
	text-align: -webkit-center !important;
}

.btn-blue {
	background-color: white !important;
	border: 2px solid #0d3c67 !important;
	color: #0d3c67 !important;
	border-radius: 5px;
}

.btn-blue:hover:enabled {
	transition: .3s;
	background-color: #0d3c67 !important;
	border: 2px solid white !important;
	color: white !important;
	border-radius: 5px;
}

.btn-grey {
	background-color: white !important;
	border: 3px solid grey !important;
	color: grey !important;
	border-radius: 5px;
}

.btn-grey:hover:enabled {
	transition: .3s;
	background-color: grey !important;
	border: 3px solid white !important;
	color: white !important;
	border-radius: 5px;
}

.active-link {
	border-bottom: 2px solid white;
}

.nav-style {
	background-color: #0d3c67;
}

.nav-style .nav-link {
	color: white;
}

.nav-style .nav-link:hover {
	opacity: .8;
	transition: .3s;
}

.login-box {
	background-color: #0d3c67;
	width: 400px;
	margin-top: 200px;
	padding: 30px;
	color: white;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.btn-login-register {
	color: white;
  margin-top: 50px;
  margin-bottom: 20px;
  display: block;
}

.btn-login-register:hover {
	opacity: .8;
	transition: .3s;
	cursor: pointer;
}

.f-text {
  opacity: .8;
  float: left;
  margin: 7px 10px 20px 0px;
}

.right {
	position: absolute;
	right: 10px;
}

.box-board {
	background-color: #0d3c67;
	margin: 0px 20px;
}

.subbox-board {
	background-color: white;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 20px 0px;
	width: auto;
	height: 80px;
}

.setting-box-board {
	height: 80vh;
  overflow-x: hidden;
	overflow-y: scroll;
  border-bottom: 5px solid #0d3c67;
}

.pos-btn-board {
	float: right;
}

.btn-board {
	display: inline-block;
	padding: 20px 4px 0px 4px;
}

.btn-board:hover {
	cursor: pointer;
	transition: .3s;
	color: red;
}

.btn-lang {
  position: absolute;
  left: -75px;
  top: 320px;
  background-color: #00000082;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: white;
  padding: 15px 20px 0px 15px;
  z-index: 1;
  transition: 1s;
}

.btn-lang:hover{
  left: 0px;
  transition: .4s;
}

.btn-lang p {
  cursor: pointer;
}

.btn-lang p:hover{
  opacity: .8;
	transition: .3s;
}

@media only screen and (max-width: 767px) {
  .setting-box-board {
    height: 150px;
  }
}

@media only screen and (max-width: 600px) {
	.login-box {
		width: 90%;
		margin-top: 60px;
	}
}